{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Snippetbox</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
    <header>
        <h1><a href='/'>Snippet-box</a></h1>
    </header>
    <nav>
        <a href='/'>Home</a>
    </nav>
    <main>
        {{template "main" .}}
    </main>

    {{template "footer" .}}
    </body>
    </html>
{{end}}
